.buttons-container {
  width: 100%;
}

.buttons-container button + button {
  margin-left: 8px;
}

.rpc-output {
  padding: 8px;
  border: 1px solid black;
}

.rpc-output pre {
  overflow: auto;
}

mt {
  margin-top: 8px;
}